* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(/img/unnamed.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.clear {
    clear: both;
}

#p {
    padding: 10px 0px;
}

/*container*/
.container {
    max-width: 98%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.644);
}

header {
    max-width: 100%;
    height: 70px;
}

/*menu*/
nav {
    position: absolute;
    right: 170px;
    top: 0;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

ul li {

    list-style-type: none;
    float: left;
}

li {
    padding: 15px 17px;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    transition: 0.5s;
    padding: 13px 14px;
    border-radius: 5px;
}

li a:hover {

    color: goldenrod;
    background-color: rgba(0, 0, 0, 0.377);
}

.iconSearch {

    padding: 17px 50px;
}

/*adm*/
.adm {
    color: rgb(240, 6, 41);
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 230px;
}

/*logobar*/
.logobar {
    position: relative;
    top: 30px;
    left: 100px;
    text-shadow: #8A2BE2;
    margin: 0 50px;
}

.logo {
    color: rgb(181, 242, 250);
    font-size: 30px;
    text-shadow: rgb(253, 253, 253) 1px 0 10px;
    background: transparent;
}

/*sectoin*/
section {
    width: 50%;
    height: 600px;
    float: left;
}

.box_name {
    padding: 200px 0px;
}

.name {
    color: whitesmoke;
    font-size: 50px;
}

.fname {
    color: whitesmoke;
    font-size: 50px;
}

/*aside*/
aside {
    width: 50%;
    height: 600px;
    float: left;
}

.skills {
    color: white;
    padding: 90px 0px;
    margin: 0 50px;
}

/*box_skills*/
.box_skills {
    width: 80%;
    height: 100%;
    margin: 35px 105px;
}

.box_html {
    max-width: 100%;
    height: 20px;
    background-color: rgba(169, 169, 169, 0.603);
    border-radius: 10px;
}

.HTML {
    color: white;
    margin: 10px 0px;
}

.html {
    max-width: 40%;
    height: 100%;
    background-color: rgba(51, 255, 0, 0.651);
    border-radius: 10px;
}

#perxen_html {
    font-size: 18px;
    padding: 0% 101%;
    color: whitesmoke;
}


.box_css {
    max-width: 100%;
    height: 20px;
    background-color: rgba(169, 169, 169, 0.603);
    border-radius: 10px;
}

.CSS {
    color: white;
    margin: 10px 0px;
}

.css {
    max-width: 28%;
    height: 100%;
    background-color: rgba(255, 141, 47, 0.692);
    border-radius: 10px;
}

#perxen_css {
    font-size: 18px;
    padding: 0% 101%;
    color: whitesmoke;
}




.box_js {
    max-width: 100%;
    height: 20px;
    background-color: rgba(169, 169, 169, 0.603);
    border-radius: 10px;
}

.JS {
    color: white;
    margin: 10px 0px;
}

.js {
    max-width: 17%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.541);
    border-radius: 10px;
}

#perxen_js {
    font-size: 18px;
    padding: 0% 101%;
    color: whitesmoke;
}



.box_php {
    max-width: 100%;
    height: 20px;
    background-color: rgba(169, 169, 169, 0.603);
    border-radius: 10px;
}

.PHP {
    color: white;
    margin: 10px 0px;
}

.php {
    max-width: 35%;
    height: 100%;
    background-color: rgba(51, 255, 0, 0.589);
    border-radius: 10px;
}

#perxen_php {
    color: whitesmoke;
    font-size: 18px;
    padding: 0% 101%;
}





.box_sql {
    max-width: 100%;
    height: 20px;
    background-color: rgba(169, 169, 169, 0.603);
    border-radius: 10px;
}

.SQL {
    color: white;
    margin: 10px 0px;
}

.sql {
    max-width: 56%;
    height: 100%;
    background-color: rgba(0, 255, 128, 0.637);
    border-radius: 10px;
}

#perxen_sql {
    color: whitesmoke;
    font-size: 18px;
    padding: 0% 101%;
}


/*skillbar*/
.skillsbar {
    max-width: 100%;
    height: 350px;
    border: 2 px solid white;
    position: relative;
    top: -80px;
    margin: 0px 50px;
}

.box_html {
    max-width: 100%;
}

/*main*/
main {
    width: 80%;
    height: 100%;
}

p {
    color: whitesmoke;
    font-size: 16px;
}

/*footer*/
#imgme {
    z-index: 1px;
    filter: grayscale(35%);
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}

footer {
    width: 100%;
    height: 400px;
    background-color: #69696962;
    border-radius: 10px;
}


.box_footer1 {
    width: 50%;
    height: 100%;
    float: left;
}

.box_footer2 {
    width: 50%;
    height: 100%;
    float: left;
}

.box_f1 {
    width: 18%;
    height: 100%;
    position: absolute;
    left: 8%;
    top: 40px;
}

.box_f2 {
    width: 35%;
    height: 100%;
    position: relative;
    left: 60%;
}

.box_f3 {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 50%;
}

.box_f4 {
    width: 40%;
    height: 100%;
    position: relative;
    left: 40%;
}

.box_so_thich {
    position: absolute;
}

.box_Uoc_mo {
    position: absolute;
}

.fh3 {
    padding: 100px 0px;
    color: whitesmoke;
}

.fp {

    position: relative;
    top: -100px;
}

.educatoin {
    padding: 60px 0px;
    color: whitesmoke;
}

.peucatoin {
    position: relative;
    top: -75px;
    padding: 13px 0px;
}

.contact {
    font-size: 30px;
    position: relative;
    left: 235%;
    bottom: 12%;
    width: 270%;
}

.contact a {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin: 20px;
    transition: 0.3s;
    background-color: #ffffff;
}

.mess {
    color: rgb(151, 111, 0);
    text-shadow: 1px 1px 2px rgb(255, 52, 52), 0 0 1em rgb(22, 22, 155), 0 0 0.2em blue;
}

.tiktok {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(109, 6, 6), 0 0 1em rgb(153, 153, 179), 0 0 0.2em blue;
}

.face {
    color: rgba(0, 0, 255, 0.808);
    text-shadow: 1px 1px 2px rgb(148, 140, 140), 0 0 1em rgb(153, 153, 179), 0 0 0.2em blue;
}

.contact a:hover {

    background-color: rgb(255, 252, 66);
}

.face:hover {
    color: blue;
}

.mess:hover {

    color: #c689ffe1;
}

/*@media*/
@media only screen and (max-width: 1382px) {

    .box_f4 {

        left: 45%;
        width: 50%;
    }

}

@media only screen and (max-width: 1382px) {

    .box_f4 {


        left: 50%;
        width: 45%;
    }
}

@media only screen and (max-width: 890px) {

    .box_skills {
        margin: 100px 10px;
        width: 100%;
    }

    .box_name {
        margin: 300px 0;
        padding: 0;
    }
}

@media only screen and (max-width: 890px) {

    .box_name {
        margin: 250px 0px;
    }
}

@media only screen and (max-width: 830px) {

    footer {
        height: 700px;
    }

}

/*contact*/
@media only screen and (max-width: 1393px) {

    .contact {

        bottom: 22%;
    }
}

@media only screen and (max-width: 1005px) {

    .contact {
        left: 50%;
        bottom: 110%;
    }
}

@media only screen and (max-width: 830px) {

    .contact {
        position: absolute;
        top: 5px;
        background-color: #892be2e1;

    }
}

@media only screen and (max-width: 690px) {

    .contact {
        position: absolute;
        top: 5px;
        background-color: #892be2e1;
        left: -20%;

    }
}

/*Meunu logobar*/

@media only screen and (max-width: 1350px) {

    li a {

        font-size: 16px;
    }

    nav {

        right: 50px;
        top: 0;
    }

    li {
        padding: 1px 1px;
    }

    .iconSearch {

        padding: 1px 1px;
    }

}

@media only screen and (max-width: 780px) {

    nav {
        top: 100px;
        width: 125%;
        left: -150px;
    }
}